div{
    height: 300px;
    width: 300px;
    background-color: aqua;
    border: 5px solid black;
}
.translated{
    transform: perspective(30px) translateZ(-10px);
}
.scaled{
    /* transform: perspective(20px) scaleZ(2) rotateX(10deg) rotateY(20deg) rotateZ(10deg);
    margin-left: 500px; */
    transform: rotateX(120deg);
    height:30px;
    width:20px
}